################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/

# Build
bin/
obj/

# Usuário e configurações locais
*.user
*.suo
*.cache
*.log

# Pacotes NuGet (se não estiver usando PackageReference)
packages/
#/Backend/Blog.Api/.vs/Blog.Api.slnx/v18/.suo
#/Backend/Blog.Api/.vs/Blog.Api.slnx/DesignTimeBuild/.dtbcache.v2
/Backend/Blog.Api/.vs/Blog.Api.slnx/v18/.futdcache.v2
/Backend/Blog.Api/.vs/Blog.Api.slnx/v18/.suo
/.vs
Frontend/node_modules/cookie/LICENSE
Frontend/node_modules/cookie/package.json
Frontend/node_modules/cookie/README.md
Frontend/node_modules/cookie/dist/index.d.ts
Frontend/node_modules/cookie/dist/index.js
Frontend/node_modules/cookie/dist/index.js.map
Frontend/node_modules/react/compiler-runtime.js
Frontend/node_modules/react/index.js
Frontend/node_modules/react/jsx-dev-runtime.js
Frontend/node_modules/react/jsx-dev-runtime.react-server.js
Frontend/node_modules/react/jsx-runtime.js
Frontend/node_modules/react/jsx-runtime.react-server.js
Frontend/node_modules/react/LICENSE
Frontend/node_modules/react/package.json
Frontend/node_modules/react/react.react-server.js
Frontend/node_modules/react/README.md
Frontend/node_modules/react/cjs/react-compiler-runtime.development.js
Frontend/node_modules/react/cjs/react-compiler-runtime.production.js
Frontend/node_modules/react/cjs/react-compiler-runtime.profiling.js
Frontend/node_modules/react/cjs/react-jsx-dev-runtime.development.js
Frontend/node_modules/react/cjs/react-jsx-dev-runtime.production.js
Frontend/node_modules/react/cjs/react-jsx-dev-runtime.profiling.js
Frontend/node_modules/react/cjs/react-jsx-dev-runtime.react-server.development.js
Frontend/node_modules/react/cjs/react-jsx-dev-runtime.react-server.production.js
Frontend/node_modules/react/cjs/react-jsx-runtime.development.js
Frontend/node_modules/react/cjs/react-jsx-runtime.production.js
Frontend/node_modules/react/cjs/react-jsx-runtime.profiling.js
Frontend/node_modules/react/cjs/react-jsx-runtime.react-server.development.js
Frontend/node_modules/react/cjs/react-jsx-runtime.react-server.production.js
Frontend/node_modules/react/cjs/react.development.js
Frontend/node_modules/react/cjs/react.production.js
Frontend/node_modules/react/cjs/react.react-server.development.js
Frontend/node_modules/react/cjs/react.react-server.production.js
Frontend/node_modules/react-dom/client.js
Frontend/node_modules/react-dom/client.react-server.js
Frontend/node_modules/react-dom/index.js
Frontend/node_modules/react-dom/LICENSE
Frontend/node_modules/react-dom/package.json
Frontend/node_modules/react-dom/profiling.js
Frontend/node_modules/react-dom/profiling.react-server.js
Frontend/node_modules/react-dom/react-dom.react-server.js
Frontend/node_modules/react-dom/README.md
Frontend/node_modules/react-dom/server.browser.js
Frontend/node_modules/react-dom/server.bun.js
Frontend/node_modules/react-dom/server.edge.js
Frontend/node_modules/react-dom/server.js
Frontend/node_modules/react-dom/server.node.js
Frontend/node_modules/react-dom/server.react-server.js
Frontend/node_modules/react-dom/static.browser.js
Frontend/node_modules/react-dom/static.edge.js
Frontend/node_modules/react-dom/static.js
Frontend/node_modules/react-dom/static.node.js
Frontend/node_modules/react-dom/static.react-server.js
Frontend/node_modules/react-dom/test-utils.js
Frontend/node_modules/react-dom/cjs/react-dom-client.development.js
Frontend/node_modules/react-dom/cjs/react-dom-client.production.js
Frontend/node_modules/react-dom/cjs/react-dom-profiling.development.js
Frontend/node_modules/react-dom/cjs/react-dom-profiling.profiling.js
Frontend/node_modules/react-dom/cjs/react-dom-server-legacy.browser.development.js
Frontend/node_modules/react-dom/cjs/react-dom-server-legacy.browser.production.js
Frontend/node_modules/react-dom/cjs/react-dom-server-legacy.node.development.js
Frontend/node_modules/react-dom/cjs/react-dom-server-legacy.node.production.js
Frontend/node_modules/react-dom/cjs/react-dom-server.browser.development.js
Frontend/node_modules/react-dom/cjs/react-dom-server.browser.production.js
Frontend/node_modules/react-dom/cjs/react-dom-server.bun.development.js
Frontend/node_modules/react-dom/cjs/react-dom-server.bun.production.js
Frontend/node_modules/react-dom/cjs/react-dom-server.edge.development.js
Frontend/node_modules/react-dom/cjs/react-dom-server.edge.production.js
Frontend/node_modules/react-dom/cjs/react-dom-server.node.development.js
Frontend/node_modules/react-dom/cjs/react-dom-server.node.production.js
Frontend/node_modules/react-dom/cjs/react-dom-test-utils.development.js
Frontend/node_modules/react-dom/cjs/react-dom-test-utils.production.js
Frontend/node_modules/react-dom/cjs/react-dom.development.js
Frontend/node_modules/react-dom/cjs/react-dom.production.js
Frontend/node_modules/react-dom/cjs/react-dom.react-server.development.js
Frontend/node_modules/react-dom/cjs/react-dom.react-server.production.js
Frontend/node_modules/react-router/CHANGELOG.md
Frontend/node_modules/react-router/LICENSE.md
Frontend/node_modules/react-router/package.json
Frontend/node_modules/react-router/README.md
Frontend/node_modules/react-router/dist/development/browser-BEPxnEBW.d.mts
Frontend/node_modules/react-router/dist/development/browser-CJ9_du-U.d.ts
Frontend/node_modules/react-router/dist/development/chunk-4LKRSAEJ.mjs
Frontend/node_modules/react-router/dist/development/chunk-7PAHGFS4.js
Frontend/node_modules/react-router/dist/development/chunk-HMDR2CVH.js
Frontend/node_modules/react-router/dist/development/chunk-JZWAC4HX.mjs
Frontend/node_modules/react-router/dist/development/chunk-WICQJKU6.js
Frontend/node_modules/react-router/dist/development/dom-export.d.mts
Frontend/node_modules/react-router/dist/development/dom-export.d.ts
Frontend/node_modules/react-router/dist/development/dom-export.js
Frontend/node_modules/react-router/dist/development/dom-export.mjs
Frontend/node_modules/react-router/dist/development/index-react-server-client-1TI9M9o1.d.ts
Frontend/node_modules/react-router/dist/development/index-react-server-client-MKTlCGL3.d.mts
Frontend/node_modules/react-router/dist/development/index-react-server-client.d.mts
Frontend/node_modules/react-router/dist/development/index-react-server-client.d.ts
Frontend/node_modules/react-router/dist/development/index-react-server-client.js
Frontend/node_modules/react-router/dist/development/index-react-server-client.mjs
Frontend/node_modules/react-router/dist/development/index-react-server.d.mts
Frontend/node_modules/react-router/dist/development/index-react-server.d.ts
Frontend/node_modules/react-router/dist/development/index-react-server.js
Frontend/node_modules/react-router/dist/development/index-react-server.mjs
Frontend/node_modules/react-router/dist/development/index.d.mts
Frontend/node_modules/react-router/dist/development/index.d.ts
Frontend/node_modules/react-router/dist/development/index.js
Frontend/node_modules/react-router/dist/development/index.mjs
Frontend/node_modules/react-router/dist/development/instrumentation-DvHY1sgY.d.ts
Frontend/node_modules/react-router/dist/development/register-Bm80E9qL.d.ts
Frontend/node_modules/react-router/dist/development/register-CS_tiXsm.d.mts
Frontend/node_modules/react-router/dist/development/router-5iOvts3c.d.mts
Frontend/node_modules/react-router/dist/development/lib/types/internal.d.mts
Frontend/node_modules/react-router/dist/development/lib/types/internal.d.ts
Frontend/node_modules/react-router/dist/development/lib/types/internal.js
Frontend/node_modules/react-router/dist/development/lib/types/internal.mjs
Frontend/node_modules/react-router/dist/production/browser-BEPxnEBW.d.mts
Frontend/node_modules/react-router/dist/production/browser-CJ9_du-U.d.ts
Frontend/node_modules/react-router/dist/production/chunk-GSFLVUYQ.mjs
Frontend/node_modules/react-router/dist/production/chunk-N2HZAAIG.js
Frontend/node_modules/react-router/dist/production/chunk-NGWWS4QJ.js
Frontend/node_modules/react-router/dist/production/chunk-QSNCZFX5.js
Frontend/node_modules/react-router/dist/production/chunk-Y3R63HEB.mjs
Frontend/node_modules/react-router/dist/production/dom-export.d.mts
Frontend/node_modules/react-router/dist/production/dom-export.d.ts
Frontend/node_modules/react-router/dist/production/dom-export.js
Frontend/node_modules/react-router/dist/production/dom-export.mjs
Frontend/node_modules/react-router/dist/production/index-react-server-client-1TI9M9o1.d.ts
Frontend/node_modules/react-router/dist/production/index-react-server-client-MKTlCGL3.d.mts
Frontend/node_modules/react-router/dist/production/index-react-server-client.d.mts
Frontend/node_modules/react-router/dist/production/index-react-server-client.d.ts
Frontend/node_modules/react-router/dist/production/index-react-server-client.js
Frontend/node_modules/react-router/dist/production/index-react-server-client.mjs
Frontend/node_modules/react-router/dist/production/index-react-server.d.mts
Frontend/node_modules/react-router/dist/production/index-react-server.d.ts
Frontend/node_modules/react-router/dist/production/index-react-server.js
Frontend/node_modules/react-router/dist/production/index-react-server.mjs
Frontend/node_modules/react-router/dist/production/index.d.mts
Frontend/node_modules/react-router/dist/production/index.d.ts
Frontend/node_modules/react-router/dist/production/index.js
Frontend/node_modules/react-router/dist/production/index.mjs
Frontend/node_modules/react-router/dist/production/instrumentation-DvHY1sgY.d.ts
Frontend/node_modules/react-router/dist/production/register-Bm80E9qL.d.ts
Frontend/node_modules/react-router/dist/production/register-CS_tiXsm.d.mts
Frontend/node_modules/react-router/dist/production/router-5iOvts3c.d.mts
Frontend/node_modules/react-router/dist/production/lib/types/internal.d.mts
Frontend/node_modules/react-router/dist/production/lib/types/internal.d.ts
Frontend/node_modules/react-router/dist/production/lib/types/internal.js
Frontend/node_modules/react-router/dist/production/lib/types/internal.mjs
Frontend/node_modules/react-router-dom/LICENSE.md
Frontend/node_modules/react-router-dom/package.json
Frontend/node_modules/react-router-dom/README.md
Frontend/node_modules/react-router-dom/dist/index.d.mts
Frontend/node_modules/react-router-dom/dist/index.d.ts
Frontend/node_modules/react-router-dom/dist/index.js
Frontend/node_modules/react-router-dom/dist/index.mjs
Frontend/node_modules/scheduler/index.js
Frontend/node_modules/scheduler/index.native.js
Frontend/node_modules/scheduler/LICENSE
Frontend/node_modules/scheduler/package.json
Frontend/node_modules/scheduler/README.md
Frontend/node_modules/scheduler/unstable_mock.js
Frontend/node_modules/scheduler/unstable_post_task.js
Frontend/node_modules/scheduler/cjs/scheduler-unstable_mock.development.js
Frontend/node_modules/scheduler/cjs/scheduler-unstable_mock.production.js
Frontend/node_modules/scheduler/cjs/scheduler-unstable_post_task.development.js
Frontend/node_modules/scheduler/cjs/scheduler-unstable_post_task.production.js
Frontend/node_modules/scheduler/cjs/scheduler.development.js
Frontend/node_modules/scheduler/cjs/scheduler.native.development.js
Frontend/node_modules/scheduler/cjs/scheduler.native.production.js
Frontend/node_modules/scheduler/cjs/scheduler.production.js
Frontend/node_modules/set-cookie-parser/LICENSE
Frontend/node_modules/set-cookie-parser/package.json
Frontend/node_modules/set-cookie-parser/README.md
Frontend/node_modules/set-cookie-parser/lib/set-cookie.js
